@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(1,1,1, .2);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 50px;
}